
.container{
	display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		grid-template-rows: auto; 
		grid-template-areas: 
	"header header header header" 
	"nav nav nav nav" 
	"main main main main" 
	"footer footer footer footer";
		
}

h1 {
	
	color:orange;
	
}

p{
	color: green;
	
}

header{s
	grid-area:header;
}

nav{ 
   grid-area:nav;

}

main{ 

		grid-area:main;
}
	
	 
foote{ 
   grid-area:  footer; 
   
}
	